In [2]:
print("my name is zahid amin")

my name is zahid amin

In [8]:
print(2) # int

2

In [9]:
print('2')

2

In [10]:
print('my name is zahid') # string
print("my father Amin")

my name is zahid
my father Amin

In [11]:
print(3.2) # float

3.2

In [12]:
type(3.2)

float

In [13]:
type(2)

int

In [15]:
type("zahid")

str

In [16]:
print('''PIAIC Islamabad ID Card
Name : Zahid 
Father Name: Amin
Batch : 3
vanue: Behria University Islamabad''')

PIAIC Islamabad ID Card
Name : Zahid
Father Name: Amin
Batch : 3
vanue: Behria University Islamabad

In [20]:
PIAIC_ID = '''PIAIC Islamabad ID Card
Name : Zahid 
Father Name: Amin
Batch : 3
vanue: Behria University Islamabad''' # stored in variable User_ID
print(PIAIC_ID)

PIAIC Islamabad ID Card
Name : Zahid
Father Name: Amin
Batch : 3
vanue: Behria University Islamabad

In [19]:
name = "zahid amin"
father_name = "Noorul Amin"
Batch = 3
vanue = "Behria University Islamabad"
print(name)
print(father_name)
print(Batch)
print(vanue)

zahid amin
Noorul Amin
3
Behria University Islamabad

In [21]:
weight = 25 # int variable
multiplier = 2.5 # float variable
print(weight * multiplier)

62.5

In [22]:
weight = 25 # int variable
multiplier = 2.5 # float variable
Multi_Weight = weight * multiplier
print(Multi_Weight)

62.5

In [1]:
# class 24 Nov 2019

In [2]:
x , y = 3 , 4 # variables can be defined in single line
print(x,y)

3 4

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
#Modulo Operator
remainder = 11 / 3
print(remainder)

3.6666666666666665

In [5]:
#Modulo Operator
remainder = 11 % 3
print(remainder)

2

In [6]:
#Modulo Operator
remainder = 9 % 3
print(remainder)

0

In [10]:
marks = 25
marks = marks + 1
print(marks)

26

In [11]:
marks = 25
marks += 1
print(marks)

26

In [12]:
marks = 25
marks -= 1
print(marks)

24

In [13]:
marks = 25
marks *= 1
print(marks)

25

In [14]:
marks = 25
marks /= 1
print(marks)

25.0

In [15]:
#PEDMAS
solve = 2 + 3 * 5 - 7 + 5 # for similar precedents... left to right
print(solve)

15

In [16]:
solve = (2 + 3) * 5 - 7 + 5 # also left to right
print(solve)

23

In [19]:
print((2+5)/3*(5+5))

23.333333333333336

In [24]:
a = 7
b = 7
print(id(a), id(b)) #id refers to address or physical location of data in your hard desk /memory...  
#same data type uses same phycial location in your HD/memory.this is called shallow copy

140714606961232 140714606961232

In [28]:
# type function for show data type
type(2)

int

In [29]:
# type function for show data type
type(2.3)

float

In [31]:
# type function for show data type
type("name")

str

In [33]:
print(type(2), type(2.9))

<class 'int'> <class 'float'>

In [34]:
# data type Strings

In [36]:

name1 = "Zahid Amin"
name2 = "zahiD amiN"
print(name1, name2)

Zahid Amin zahiD amiN

In [38]:
# use of \n (new line) and \t (tab)
name1 = "Zahid Amin"
name2 = "zahiD amiN"
print(name1, name2, sep = "\n")

Zahid Amin
zahiD amiN

In [75]:
# use of \n (new line) and \t (tab)
name1 = "     Zahid Amin    "
name2 = "zahiD amiN"
print(name1, name2, sep = "\t")

     Zahid Amin    	zahiD amiN

In [40]:
#help(data type)
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Use keyword.iskeyword() to test for reserved identifiers such as "def" and
 |      "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if the string is printable, False otherwise.
 |
 |      A string is printable if all of its characters are considered printable in
 |      repr() or if it is empty.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |        sep
 |          The delimiter according which to split the string.
 |          None (the default value) means split according to any whitespace,
 |          and discard empty strings from the result.
 |        maxsplit
 |          Maximum number of splits to do.
 |          -1 (the default value) means no limit.
 |
 |      Splits are done starting at the end of the string and working to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the words in the string, using sep as the delimiter string.
 |
 |      sep
 |        The delimiter according which to split the string.
 |        None (the default value) means split according to any whitespace,
 |        and discard empty strings from the result.
 |      maxsplit
 |        Maximum number of splits to do.
 |        -1 (the default value) means no limit.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace remove.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(x, y=None, z=None, /)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [41]:
#dir use for director or list of attributes...
dir(name1)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [42]:
# variable eg. name1.tab shows more function...

In [44]:
print(name1.upper())

ZAHID AMIN

In [45]:
print(name2.swapcase())

ZAHId AMIn

In [46]:
print(name1.title())

Zahid Amin

In [84]:
print(name1.zfill(25))

000000     Zahid Amin

In [70]:
print(name1.startswith('Z'))

True

In [53]:
name = "zahid"
name = name.upper()
print(name)

ZAHID

In [56]:
name = "zahid"
name = name.startswith()
print(name)

TypeError: startswith first arg must be str or a tuple of str, not int

In [57]:
#in line and in memory,....

In [58]:
print(name1.format_map())

TypeError: format_map() takes exactly one argument (0 given)

In [59]:
# del use for delete varaible 
# del varable name eg name1

In [60]:
# .find use for find a specific word
country = "I live in Pakistan and I love Pakistan."
print(country.find("Pakistan"))

10

In [63]:
# .find use for find a specific word
country = "I live in Pakistan and I love Pakistan."
print(country[10:18:1]) # :1 is for step means one by one, the end digit is excluded means which will not be printed.

Pakistan

In [64]:
country = "I live in Pakistan and I love Pakistan."
print(country[10:18:2]) # start:end:step

Pksa

In [65]:
# indexing [0] or [2:8] is important especially for listing...

In [68]:
country = "I live in Pakistan and I love Pakistan."
print(country[::-1])

.natsikaP evol I dna natsikaP ni evil I

In [1]:
country = "I live in Pakistan and I love Pakistan."
print(country[::2])

Ilv nPksa n  oePksa.

In [2]:
p.[p.find('Pakistan'):18:1]

SyntaxError: invalid syntax (<ipython-input-2-e603cd1151e9>, line 1)

In [3]:
# 1 December 2019

In [4]:
# len() for length

In [4]:
country = "I live in Pakistan and I love Pakistan."
len("Pakistan")

8

In [7]:
p = 'I live in Pakistan and I love Pakistan.'
n = p.split() # divide sentance based on character.
print(n)
o = p.split('e') # split e - e
print(o)

['I', 'live', 'in', 'Pakistan', 'and', 'I', 'love', 'Pakistan.']
['I liv', ' in Pakistan and I lov', ' Pakistan.']

In [5]:
# joining
p = 'I live in Pakistan and I love Pakistan.'
j = ' '
n = p.join(j) # divide sentance based on character.
print(n)

In [16]:
# card multi line string
card = '''
Student Name: Zahid Amin
Batch: 3
Center: Bahria University Islamabad
'''
print(card)

Student Name: Zahid Amin
Batch: 3
Center: Bahria University Islamabad

In [17]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
#using % and %s and \ for ling lines
#%s for str type variable  for intiger use %d

print('Student name: %s \nBatch: %s \nCener: %s' %(name, batch, center)) # variable name should be serial wise

Student name: zahid
Batch: 3
Cener: Bahria University Islamabad

In [6]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'

print('Student name: %s \nBatch: %s \nCener: %s'%(name,batch,center))

Student name: zahid
Batch: 3
Cener: Bahria University Islamabad

In [22]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
score = 90
#using % and %s and "\" split long line
#%s for str type variable  for intiger use %d

print('Student name: %s \nBatch: %s \nCener: %s \nscore: %d' %(name, batch, center, score))

Student name: zahid
Batch: 3
Cener: Bahria University Islamabad
score: 90

In [24]:
#using "+"

print('Student name: ' + name + '\nBatch: ' + batch +  '\nCener: ' + center + '\nscore: ' + str(score))

Student name: zahid
Batch: 3
Cener: Bahria University Islamabad
score: 90

In [42]:
#using 'f' (fomate)
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
score = 90
print(f'name: {name} \nbatch: {batch} \ncenter: {center} \nscore: {score}')

name: zahid
batch: 3
center: Bahria University Islamabad
score: 90

In [37]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
score = 90
print('name: {} \nbatch: {} \ncenter: {} \nscore: {}'.format(name,batch,center, score))

name: zahid
batch: 3
center: Bahria University Islamabad
score: 90

In [47]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
score = 90
print('name: {n} \nbatch: {b} \ncenter: {c} \nscore: {s}'.format(n=name,b=batch,c=center,s=score))

name: zahid
batch: 3
center: Bahria University Islamabad
score: 90

In [48]:
name = 'zahid'
batch = '3'
center = 'Bahria University Islamabad'
score = 90
print('name: {1} \nbatch: {2} \ncenter: {3} \nscore: {0}'.format(name,batch,center, score))

name: 3
batch: Bahria University Islamabad
center: 90
score: zahid

In [49]:
#homework searching and practicing "%" concatinating

In [50]:
# types of operator link: https://www.tutorialspoint.com/python/python_basic_operators.htm
Arithmetic Operators.
Comparison (Relational) Operators.
Assignment Operators.
Logical Operators.
Bitwise Operators.
Membership Operators.
Identity Operators.

SyntaxError: invalid syntax (<ipython-input-50-304456d76686>, line 2)

In [51]:
['1st', '2nd'] + ['3rd', '4th']

['1st', '2nd', '3rd', '4th']

In [52]:
('1st', '2nd') + ('3rd', '4th')

('1st', '2nd', '3rd', '4th')

In [53]:
[{'1st', '2nd'}] + [{'3rd', '4th'}]

[{'1st', '2nd'}, {'3rd', '4th'}]

In [54]:
{'1st', '2nd'} + {'3rd', '4th'} # + cannot be applied on set "{}"

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [55]:
'A'* 4

'AAAA'

In [56]:
['A', 'B'] * 5

['A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B']

In [57]:
('A', 'B') * 5

('A', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'B')

In [58]:
{'A', 'B'} * 5

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [59]:
['1st', '2nd'] - ['3rd', '4th']

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [60]:
[a:'1st', b:'2nd'] + [c:'3rd', d:'4th']

SyntaxError: invalid syntax (<ipython-input-60-d82353d7ed7c>, line 1)

In [61]:
{7, 8, 9} - {6, 8, 10}

{7, 9}

In [62]:
{7, 8, 9} + {6, 8, 10}

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [63]:
12 / 3 # simple division operator

4.0

In [64]:
12 // 3 # "//" floor division operator

4

In [65]:
12 // 4

3

In [66]:
15 // 12 # month in year

1

In [67]:
15 % 12 # reminder

3

In [68]:
2**3 # '**' use for power (2x2x2)

8

In [69]:
# Comparison operator
# ==, >=, =<, !=, <, >

In [70]:
5 ==4

False

In [71]:
33==33

True

In [72]:
4>3

True

In [73]:
4<3

False

In [75]:
4 >= 4

True

In [76]:
#ASCII, American Standard Code for Infomation interchange

In [77]:
ord('A') # order in ascii

65

In [78]:
ord('a')

97

In [79]:
ord('Z')

90

In [80]:
90-65

25

In [81]:
chr(97)

'a'

In [82]:
'A' > 'B'

False

In [83]:
'A' < 'B'

True

In [84]:
ord('B')

66

In [85]:
# Assignment operator

In [87]:
a=1
a=3
a=10
a= 12
print(a) #replace with the last number

12

In [88]:
a = 1
a += 2 #a=a+2
a += 5
a += 3
print(a)

11

In [89]:
a = 1
a *= 2 #a=ax2
a *= 5
a *= 3
print(a)

30

In [91]:
a = 15
a -= 5 #a=a-2
a -= 4
a -= 2
print(a)

4

In [93]:
a = 200
a /= 6 #a=a/2
a /= 5
a /= 3
print(a)

2.2222222222222223

In [94]:
a = 200
a //= 6 #a=a//2
a //= 5
a //= 3
print(a)

2

In [95]:
a = 20
a %= 6
print(a)

2

In [97]:
a = 2
a **= 3 # 2x2x2
print(a) # result 8
a **= 2 # 8x8
print(a)

8
64

In [98]:
# logical operator
# and, or, not
# for 'and' all must be true then it will give the result...otherwise False

In [99]:
True and True and True

True

In [100]:
True and False and True

False

In [101]:
True or False or True or False or False

True

In [102]:
False or False or False or False

False

In [104]:
False or False and True or True

True

In [105]:
False or True and True or False

True

In [106]:
not()

True

In [107]:
not(False)

True

In [108]:
not(True)

False

In [118]:
name = 'A' 
email = 'B' 
ID = 'C' 
password = '123'

name == 'A' or email == 'B' 0r ID == 'C' and password == '123'

SyntaxError: invalid syntax (<ipython-input-118-51cd8b6765e8>, line 6)

In [ ]:
# membership operator, 'in' and 'not in'

In [119]:
a = 'I am Zahid Amin and live in Islamabad'
'Islamabad' in a

True

In [120]:
a = 'I am Zahid Amin and live in Islamabad'
'city' in a

False

In [121]:
a = 'I am Zahid Amin and live in Islamabad'
'city' not in a

True

In [1]:
user_name = "Zahid Amin"
user_ID = "PIAIC62379"
course = "Artificial Intellingence"
timing = "6:45 pm"
print(user_name, user_ID, course, timing, sep = "\n")

Zahid Amin
PIAIC62379
Artificial Intellingence
6:45 pm

In [5]:
len(user_name)

10

In [7]:
# Dec. 8, 2019,  List, loop, if else. # most imprtant topic for exam.

In [8]:
#list =  variety of items
list_saman = ['gosht', 'dahi', 'tamater']
print(list_saman)

['gosht', 'dahi', 'tamater']

In [10]:
new_list = list_saman + ['hair cut', 'beard']
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut', 'beard']

In [11]:
print(new_list[1:4]) # means start from 2 to 3

['dahi', 'tamater', 'hair cut']

In [12]:
print(new_list[1:4:2]) #start:end:step

['dahi', 'hair cut']

In [13]:
print(new_list[:4:2])

['gosht', 'tamater']

In [14]:
print(new_list[1::2])

['dahi', 'hair cut']

In [15]:
print(new_list[-4:-1])

['dahi', 'tamater', 'hair cut']

In [16]:
print(new_list[-1:-4])

[]

In [17]:
print(new_list[-1:4])

[]

In [18]:
print(new_list[-1:-4:-1]) # steps should also be -ve.

['beard', 'hair cut', 'tamater']

In [19]:
print(new_list[-1:4:-1])

[]

In [28]:
print(new_list[-1:2:-1])

['beard', 'hair cut']

In [21]:
print(new_list[-2:4:1])

['hair cut']

In [27]:
print(new_list[-2:1])

[]

In [29]:
# indexing = single item and slice = [star (include) : end (exclude) : step]

In [30]:
l1 = ['a', 'b', 'c']
#app1 l1[::], 
#appr2 l1, 
#appr3 l1[:],
#appr4 l1[0:]
#appr5 l1[-3:]
#appr4 l1[-:]

In [31]:
# for reverse or decending order
l1[-1:-4:-1] # right to left while by default the range

['c', 'b', 'a']

In [32]:
l1[::-1]

['c', 'b', 'a']

In [33]:
list_saman = ['gosht', 'dahi', 'tamater']
print(list_saman)

['gosht', 'dahi', 'tamater']

In [34]:
new_list = list_saman + ['hair cut', 'beard']
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut', 'beard']

In [35]:
# for adding new item '.append' ... 
#the new item will place in the last of the list

In [38]:
new_list.append('Moo dhona')
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut', 'beard', 'Moo dhona', 'Moo dhona', 'Moo dhona']

In [41]:
#del or remove
del new_list[6]
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut', 'beard', 'Moo dhona']

In [44]:
#remove
new_list.remove('Moo dhona')

ValueError: list.remove(x): x not in list

In [45]:
new_list = list_saman + ['hair cut', 'beard']
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut', 'beard']

In [46]:
new_list.remove('beard')
print(new_list)

['gosht', 'dahi', 'tamater', 'hair cut']

In [47]:
new_list.insert(3,'podina')
print(new_list)

['gosht', 'dahi', 'tamater', 'podina', 'hair cut']

In [49]:
new_list.insert(5,'beard')
print(new_list)

['gosht', 'dahi', 'tamater', 'podina', 'hair cut', 'beard']

In [50]:
new_list [3] = 'dhaniya' # for replace the item'podina' with 'dhaniya'
print(new_list)

['gosht', 'dahi', 'tamater', 'dhaniya', 'hair cut', 'beard']

In [51]:
# conditional (if else) use for descision making

In [52]:
# if test expression: (if a == b:)
#  statement(s)

In [53]:
person = 'karachi'
if person == 'karachi':
    print('Imran bhai')
elif person == 'peshawar':
    print('Kaan saib')
elif person == 'faisalabad':
    print('mraan khan')
elif person == 'islamabad':
    print('IK <3')
else:
    print('Imran Khan Niazi')

Imran bhai

In [54]:
person = input('Please enter your city:')
if person == 'karachi':
    print('Imran bhai')
elif person == 'peshawar':
    print('Kaan saib')
elif person == 'faisalabad':
    print('mraan khan')
elif person == 'islamabad':
    print('IK <3')
else:
    print('Imran Khan Niazi')

Please enter your city:peshawar
Kaan saib

In [56]:
# loop is use for repeatative tasks. 
# start,end, step (i.e. slicing)

In [57]:
for i in range(1,10,3): # in c language, for (int i=1; i<=10; i++)

SyntaxError: invalid syntax (<ipython-input-57-18b0c29f5520>, line 1)

In [59]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

In [60]:
for i in range(1,10,2):
    print(i)

1
3
5
7
9

In [61]:
for i in range(1,10,3):
    print(i)

1
4
7

In [63]:
#task_to_find = ''
#if task_to_find == new_list[0]:
#    print('found')
#elif task_to_find == new_list[1]:
#    print('Found')
new_list = list_saman + ['hair cut', 'beard']
print(new_list)
task_to_find = 'hair cut'
for task in new_list:         # the itme list will be assigned to 'task' which is a new variable
    if task_to_find == task:
        print('Found')
    else:
        print('not found')

['gosht', 'dahi', 'tamater', 'hair cut', 'beard']
not found
not found
not found
Found
not found

In [64]:
for task in new_list:         # the itme list will be assigned to 'task' which is a new variable
    if 'dahi' == task:
        print('Found')
    else:
        print('not found')

not found
Found
not found
not found
not found

In [65]:
task_to_find = 'hair cut'
for task in new_list:
    if task_to_find == task:
        print('Found')

Found

In [68]:
task_to_find = 'hair color'
for task in new_list:
    if task_to_find == task:
        print('Found')
    else:
        print('Not found')

Not found
Not found
Not found
Not found
Not found

In [74]:
new_list = list_saman + ['hair cut', 'beard']
print(new_list.append(3,'dhaniya'))
task_to_find = 'dahi'
for task in range(0,len(new_list)):
    if task_to_find == task:
        print('Found')

TypeError: append() takes exactly one argument (2 given)

In [75]:
task_to_find = 'dahi'
for task in range(0,len(new_list)):
    if 'hair cut' == new_list[task]:
        print('Found')

Found

In [76]:
task_to_find = 'dahi'
for task in range(0,len(new_list)):
    if 'hair cut' == new_list[task]:
        print('Found' + str(task))

Found3

In [3]:
var1 = int(input('Please enter your value:'))
if var1 >= 0:
    print('the value is positive')
else:
    print('the value is negative')

Please enter your value:5
the value is positive

In [4]:
var1 = int(input('Please enter your value:'))
if var1 >= 0:
    print('the value is positive')
else:
    print('the value is negative')

Please enter your value:-3
the value is negative

In [20]:
eng = int(input('Please enter English subject marks:'))
phy = int(input('Please enter Physics subject marks:'))
math = int(input('Please enter Maths subject marks:'))
comp = int(input('Please enter Computer subject marks:'))
urdu = int(input('Please enter Urdu subject marks:'))
subject_marks = (eng + phy + math + comp + urdu)
print('Average:'+ str(subject_marks/5))
if subject_marks >= 90:
    print('A+')
elif subject_marks >= 70 and subject_marks <= 80:
    print('B+')
elif subject_marks >= 50 and subject_marks <= 60:
    print('C+')
else:
    print('C')

Please enter English subject marks:65
Please enter Physics subject marks:77
Please enter Maths subject marks:45
Please enter Computer subject marks:98
Please enter Urdu subject marks:67
Average:70.4
A+

In [24]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
quotient= num1 // num2
print("Quotient is:",quotient)

remainder = num1 % num2
print("Remainder is:",remainder)

Enter the first number: 54
Enter the second number: 23
Quotient is: 2
Remainder is: 8

In [28]:
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
quotient = num1 // num2
print("Quotient is:" + str(quotient))

remainder = num1 % num2
print("Remainder is:" + str(remainder))

Enter the first number: 54
Enter the second number: 23
Quotient is:2
Remainder is:8

In [33]:
for num in range(0,51):
    if(num % 2 != 0  and num % 3 != 0):
        print(num)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49